<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Chatroom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="./css/chatroom.css"
		/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div class="modal">
			<form id="comment-modal">
				<img src="./svg/add-comment.svg" class="add-comment-svg" />
				<textarea
					class="comment-input input"
					required
					minlength="1"
					maxlength="300"
					placeholder="What's happening?"
				></textarea>
				<div class="button-wrapper">
					<button class="submit-comment" type="submit" disabled>
						Submit
					</button>
				</div>
			</form>
		</div>
		<div class="navbar">
			<div class="left">
				<a href="/dashboard" style="display:flex;align-items:center;justify-content:center">
				<img src="./svg/web-programming.svg" class="logo-icon" />
			</a>
				<span class="title">Codeaware</span>
			</div>
			<div class="right">
				<div class="wrapper">
					<img
						src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png"
						class="profile-picture"
					/>
					<div class="name">{{ username }}</div>
				</div>
			</div>
		</div>
		<div class="feed">
			<div class="feed-input">
				<form id="user-input">
					<textarea
						class="description-input input"
						required
						minlength="10"
						maxlength="300"
						placeholder="How's coding?"
					></textarea>
					<div class="image-wrapper">
						<img id="uploaded-img" />
					</div>
					<label class="icon-wrapper">
						<img src="./svg/add.svg" class="upload-icon" />
						<span class="text">Upload image</span>
						<input type="file" id="file" accept="image/*" hidden />
					</label>
					<div class="button-wrapper">
						<button class="submit-input" type="submit" disabled>
							Submit
						</button>
					</div>
				</form>
			</div>
			<div class="feed-content">
				{{#each posts}}  
				<div class="post">
					<div class="post-content">
						<div class="post-info">
							<img
								src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png"
								class="profile"
							/>
							<span class="username"
								>posted by {{ this.createdBy }}</span
							>
						</div>
						<div class="content">
							<div class="message-wrapper">
								<div class="message">{{ this.message }}</div>
								<div
									class="trash-container"
									data-id="{{ this.id }}"
								>
									<div
										class="trash-wrapper"
										data-post-id="{{ this.id }}"
									>
										<img
											src="./svg/trash.svg"
											class="trash"
										/>
									</div>
								</div>
							</div>
							{{#if this.image}}
							<div
								class="image"
								style="--attachment:url('{{ this.image }}');"
							>
								<img src="{{ this.image }}" id="uploaded-img" />
							</div>
							{{/if}}
							<div class="interaction" data-id={{ this.id }}>
								<img src="./svg/add.svg " class="add-comment" />
								<span class="add-comment-title"
									>Add comment</span
								>
							</div>
						</div>
					</div>
					{{#each this.comments}}
					<div class="post-comment">
						<div class="comment-info">
							<img
								src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png"
								class="profile"
							/>
							<span class="username"
								>posted by {{ this.createdBy }}</span
							>
						</div>
						<div class="message">
							{{ this.message }}
						</div>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>
		<script type="module" src="./js/routes.js"></script>
		<script type="module" src="./js/chatroom.js"></script>
	</body>
</html>
